# build output
dist/

# vercel
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.test
.env.keys
.env.local
.env.*.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.cursor/
.vscode/

# tests reports
coverage/
playwright-report/
test-results/

#skills & ai
skills-lock.json
.10x-cli.json
.agents/
.claude/
.ai/

# Supabase
supabase/.branches
supabase/.temp
