---
import AppLayout from "../layouts/AppLayout.astro";
import AuthDialog from "../components/AuthDialog.tsx";
---

<AppLayout title="Rejestracja - HealthyMeal">
  <div class="flex min-h-[calc(100vh-4rem)] items-center justify-center">
    <AuthDialog mode="register" client:load />
  </div>
</AppLayout>
